In [20]:
import folium
import pandas as pd

In [21]:
df_locations = pd.read_csv('./Data/15loc.csv')
df_locations

                      name      lat       lon
0          Denver_Colorado  39.7392 -104.9903
1         Key_West_Florida  24.5550  -81.8243
2         Chicago_Illinois  41.8781  -87.6298
3       Seattle_Washington  47.6062 -122.3321
4   New_York_City_New_York  40.7128  -74.0060
5   Los_Angeles_California  34.0522 -118.2437
6          Atlanta_Georgia  33.7489  -84.3879
7             Dallas_Texas  32.7767  -96.7970
8    Minneapolis_Minnesota  44.9778  -93.2650
9          Phoenix_Arizona  33.4484 -112.0740
10           Miami_Florida  25.7617  -80.1918
11        Las_Vegas_Nevada  36.1699 -115.1398
12         Portland_Oregon  45.5234 -122.6751

In [22]:
# Initialize map
map_center = [df_locations['lat'].mean(), df_locations['lon'].mean()]
custom ="cartodb positron"
map = folium.Map(location=map_center, zoom_start=4, tiles=custom)

# Choose location
locations = df_locations

# Name of map
map_name = "./maps/FullyConnectedNode.html"
map.save(map_name)

In [23]:
# Add marker
for _, row in df_locations.iterrows():
    folium.Circle(
        location=[row['lat'],row['lon']],
        radius=10000,  # Radius in pixels
        color='red',
        fill=True,
        fill_color='red',
        fill_opacity=0.6,
        tooltip=row['name'],
    ).add_to(map)
        

map.save(map_name)

In [24]:
# Funtinon for find coordinates of all Connected node
def ConnectedAllNode(df):
    coordinates = []
    n = len(df)
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            coordinate = []
            point1 = [df.iloc[i]['lat'], df.iloc[i]['lon']]
            point2 = [df.iloc[j]['lat'], df.iloc[j]['lon']]
            coordinate.append(point1)
            coordinate.append(point2)
            coordinates.append(coordinate)
    return coordinates

In [25]:
coordinates = ConnectedAllNode(df_locations)
# Add edge for all connected node
folium.PolyLine(
    locations=coordinates,
    color="green",
    weight=0.2,
    tooltip="All connected node"
).add_to(map)

map.save(map_name)